{% extends "base.twig" %}
{% block main %}
<!-- Héritage de template ? Block(s) ? -->
<div class="grid">
    <article>
        <h2>Discover the {{dinosaur.name}}</h2>
            
        <div class="description">
        {{dinosaur.description|markdown|raw}}
        </div>
         <div class="card">
    
            <img src="{{dinosaur.avatar}}" alt="{{dinosaur.name}}" />
            <dl>
                <dt>Name</dt>
                <dd>{{dinosaur.name}}</dd>
                <dt>Name meaning</dt>
                <dd>{{dinosaur.name_meaning}}</dd>
                <dt>Diet</dt>
                <dd>{{dinosaur.diet}}</dd>
                <dt>Height</dt>
                <dd>{{dinosaur.height}} m.</dd>
                <dt>Length</dt>
                <dd>{{dinosaur.length}} m.</dd>
                <dt>Weight</dt>
                <dd>{{dinosaur.weight}} kg.</dd>
            </dl>

        </div>

   
        
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        <!-- iterate here ? -->
        {% for dino in top %}
             <a href="/dinosaur/{{dino.slug}}">
            <figure>
                <img src="{{dino.avatar}}" alt="{{dino.name}}" />
                <figcaption>Discover the {{dino.name}}</figcaption>
            </figure>
        </a>
        {% endfor %}
    </aside>
</div>
{% endblock %}